FORMAT: 1A
HOST: http://www.google.com

#### Twistory
Twistory API gives access to real world **Twitter data** and view _trending events_ 

# Group Handles
Twitter Handle resources are people/entities that are actively engaged on twitter 

## Handle Collection [/handles]
### List the id, tweeter identifier, and name of all Handle [GET]
+ Response 200 (application/json)

        [{
         "id": 1, "identifier": "KingJames","name": "Lebron James",
        }, {
         "id": 2, "identifier": "kobebryant","name": "Kobe Bryant"
        }]



## Detailed info of each id [/handles/{id}]

+ Parameters
    + id (required, integer) ... This is the id of the desired handle

    
### List all the info of the handle with the given id [GET]
+ Response 200 (application/json)

        [{
         "id": 1, "identifier": "KingJames", "name": "Lebron James", "profile picture": [picture], 
         "bio": "String content", "tweets": "website of the person's tweeter account", "Graphs": [graphs of some statistic ],
         "Video": [the featured video related to the handle], "related handles": [links to related handles],
         "related hashtags": [links to related hashtags], "related clusters": [links to related clusters]
        }]



# Group Hashtags
Hashtags are markers that denote a specific tweet

## HashTags Collection [/hashtags]
### List the id and name of all hashtags [GET]
+ Response 200 (application/json)

        [{
         "id": 1, "name": "HeatsVsSpurs" 
        }, {
         "id": 2, "name": "WorldCup"
        }]


## All info of each hashtag [/hashtags/{id}]

+ Parameters
    + id (required, integer) ... this is the id of hashtags

### List all info of a certain hashtag [GET]
+ Response 200 (application/json)

        [{
         "id": 1, "name": "HeatsVsSpurs", "description" : "NBA final" 
         } ]


# Group Clusters
Clusters are


## Clusters Collection [/clusters]
### List the id and name of all cluster [GET]
+ Response 200 (application/json)

        [{
         "id": 1, "name": "C1" 
        }, {
         "id": 2, "name": "C2"
        }]



## All info of each cluster [/clusters/{id}]

+ Parameters
    + id (required, integer) ... this is the id of the wanted cluster

### List all info of a certain hashtag [GET]
+ Response 200 (application/json)
